apiVersion: v1
kind: Secret
metadata:
  name: {{ include "a2a-mcp.fullname" . }}-secret
  labels:
    {{- include "a2a-mcp.labels" . | nindent 4 }}
type: Opaque
stringData:
{{- if eq .Values.database.mode "postgres" }}
  POSTGRES_USER: {{ .Values.database.postgres.credentials.username | quote }}
  POSTGRES_PASSWORD: {{ .Values.database.postgres.credentials.password | quote }}
{{- end }}
