body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #202020;
    color: #fff;
    font-family: 'Courier New', monospace;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}